<div id="wrapper">
    <div id="header">
        <p>Camron.js is a cross-browser photo taking library.</p>
    </div>
    <div id="main">
        <a id="camera-button" href="#"><img src="/img/camera.png" /></a>
        <div id="images">
        </div>
    </div>
    <div id="camera-wrapper">
        <div class="countdown">3</div>
        <img class="closecamera" src="/img/close.png" />
        <p class="camerainfo">Can't click "Allow?" Watch <a target="_blank" href="http://www.youtube.com/watch?v=0tyHV_cz5gA">this video</a> to fix it!</p>
        <div class="takepicture">
            <img src="/img/camera.png" />
        </div>
        <div class="camera">
            <video autoplay></video>
        </div>
    </div>
    <div id="camrons">
        <div class="camron">
            <img src="/img/cam/cam.one.jpeg" />
        </div>
        <div class="camron">
            <img src="/img/cam/cam.two.jpeg" />
        </div>
        <div class="camron">
            <img src="/img/cam/cam.three.jpeg" />
        </div>
        <div class="camron">
            <img src="/img/cam/cam.four.jpeg" />
        </div>
    </div>
</div>