<div id="wrapper">
    <div id="fileinput">
        <form id="uploadimage" action="/mobileupload" method="post" enctype='multipart/form-data'>
            <img src="/img/camera.png" />
            <input type="file" id="file" name="file" />
        </form>
    </div>
    <canvas id="image"></canvas>
    <div id="imageswrapper">
        <div id="images">
        </div>
    </div>
</div>