<div id="wrapper">
    <div id="fileinput" class="clear">
        <form id="uploadimage" action="/mobileupload" method="post" enctype='multipart/form-data'>
            <img src="/img/camera.png" />
            <input type="file" id="file" name="files" />
        </form>
        <form id="uploadimages" action="/mobileupload" method="post" enctype='multipart/form-data'>
            <img src="/img/dump.png" />
            <input type="file" id="files" name="files[]" multiple="" />
        </form>
    </div>
    <canvas id="image"></canvas>
    <div id="images" class="scrollable">
    </div>
</div>