html, body { width: 100%; height: 100%; background-color: #929292; }

#header { font: bold 30px Helvetica; }

.camerainfo a { text-decoration: underline; }
.snapshot { width: 320px; }

#camrons { width: 80px; position: absolute; top: 10px; right: 10px; }
#camrons .camron { width: 40px; height: 40px; float: left; overflow: hidden; }
#camrons .camron img { width: 50px; }

#images { margin: 100px auto 0px auto; background-color: white; position: relative; width: 960px; height: 320px; overflow-y: hidden; overflow-x: scroll; }
#images .image { width: 320px; height: 320px; position: absolute; top: 0px; left: 0px; text-align: center; }
#images .image img { position: absolute; top: 0px; left: 0px; display: block; }