html, body { width: 100%; height: 100%; overflow: hidden; }

#wrapper { padding-top: 30px; }

#fileinput { width: 100%; height: 150px; position: relative; text-align: center; }
#fileinput img { width: 202px; height: 150px; }
#fileinput #file { opacity: 0; width: 100%; height: 100%; position: absolute; top: 0px; display: block; }

#image { display: none; }
#imageswrapper { margin-top: 20px; position: relative; width: 640px; height: 700px; overflow: hidden; }
#imageswrapper #images { position: absolute; top: 0px; left: 0px; width: 640px; height: 700px; }